<form action="/articles/<%= @article.id %>" method="POST">
  
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <label for="title">change the title: </label>
  <input id="title" type="text" name="title" value= "<%= @article.title %>" />
  <br>
  <br>
  <label for="content">change the content: </label>
  <input id="content" type="text" name="content" value="<%= @article.content %>" />
  
  <input type="submit" value="edit"/>
  
</form>